# windows test environment variables
# After renaming this file to .env.yml,
# start WinRM on the WSL host machine and create a test account.
# Then, use `ip route show default | awk '/default/ {print $3; exit}'` to obtain the host's IP address as the host.
WINDOWS_TEST_HOST: "wsl.host"
WINDOWS_TEST_PORT: "5985"
WINDOWS_TEST_USER: "ansibleci"
WINDOWS_TEST_PASSWORD: "C0mplex!Pass"
WINDOWS_TEST_TRANSPORT: "ntlm"
WINDOWS_TEST_SCHEME: "http"
# macos test environment variables
MACOS_TEST_BECOME_PASSWORD: "C0mplex!Pass"
